.menu.opened {
    @apply grid content-center justify-center bg-black fixed w-full h-full top-0 left-0;
}

.menu.opened nav ul {
    @apply flex flex-col
}

.menu.opened .user  {
    @apply mx-auto w-fit my-8
}
