@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #00040f;
  --clr-secondary: #00f6ff;
  --clr-dimWhite: rgba(255, 255, 255, 0.7);
  --clr-dimBlue: rgba(9, 151, 124, 0.1);
}


::selection {
  @apply !bg-white !text-black;
  -webkit-text-fill-color: black;
}

::-webkit-scrollbar {
  @apply w-3 bg-dimBlue
}

::-webkit-scrollbar-thumb {
  @apply bg-white rounded-2xl hover:bg-white/90 active:bg-white/80;
}

*,
::before,
::after {
  @apply transition-all;
}


@layer base {

  html {
    scroll-behavior: smooth !important;
  }

  body {
    @apply text-white bg-black;
    font-family: Ubuntu, -apple-system, sans-serif;
  }

  p {
    @apply text-dimWhite leading-[1.7];
  }

  a {
    @apply text-dimWhite leading-[1.7] hover:text-white/80 active:text-white;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply capitalize font-bold;
  }

  h1 {
    @apply  text-5xl md:text-7xl !leading-[1.4] mt-4;
  }

  h2 {
    @apply  text-3xl md:text-5xl !leading-[1.4];
  }

  h3 {
    @apply text-xl md:text-2xl relative mb-5;
  }

  h4 {
    @apply text-lg;
  }

  button,
  .btn {
    @apply hover:opacity-90 active:scale-90;
  }
}


@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1440px];
  }

  .btn-primary {
    @apply py-5 px-8 text-primary bg-secondary text-lg font-medium rounded-xl cursor-pointer 
    hover:opacity-90 active:scale-90;
  }
}



