@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #00040f;
  --clr-secondary: #00f6ff;
  --clr-dimWhite: rgba(255, 255, 255, 0.7);
  --clr-dimBlue: rgba(9, 151, 124, 0.1);

  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}


::selection {
  @apply !bg-white !text-black;
  -webkit-text-fill-color: black;
}

::-webkit-scrollbar {
  @apply w-3 bg-dimBlue
}

::-webkit-scrollbar-thumb {
  @apply bg-white rounded-2xl hover:bg-white/90 active:bg-white/80;
}

*,
::before,
::after {
  @apply transition-all;
}


@layer base {

  html {
    scroll-behavior: smooth !important;
  }

  body {
    @apply text-white bg-black;
    font-family: Ubuntu, -apple-system, sans-serif;
  }

  p {
    @apply text-dimWhite leading-[1.7];
  }

  a {
    @apply text-dimWhite leading-[1.7] hover:text-white/80 active:text-white;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply capitalize font-bold;
  }

  h1 {
    @apply  text-4xl md:text-5xl xl:text-7xl !leading-[1.4] mt-4;
  }

  h2 {
    @apply  text-3xl md:text-5xl !leading-[1.4];
  }

  h3 {
    @apply text-xl md:text-2xl relative mb-5;
  }

  h4 {
    @apply text-lg;
  }

  button,
  .btn {
    @apply hover:opacity-90 active:scale-90;
  }
}


@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1440px];
  }

  .btn-primary {
    @apply py-5 px-8 text-primary bg-secondary text-lg font-medium rounded-xl cursor-pointer 
    hover:opacity-90 active:scale-90;
  }
}


@layer utilities {
  /* Main text gradient */
  .text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,#def9fa 0.89%,#bef3f5 17.23%,#9dedf0 42.04%,#7de7eb 55.12%,#5ce1e6 71.54%,#33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  /* Main bg gradient */
  .bg-blue-gradient {
      background: linear-gradient(157.81deg,#def9fa -43.27%,#bef3f5 -21.24%,#9dedf0 12.19%,#7de7eb 29.82%,#5ce1e6 51.94%,#33bbcf 90.29%);
  }

  /* In hero section */
  .bg-discount-gradient {
      background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  }
    
  /* features and cards*/
  .bg-black-gradient {
      background: linear-gradient(144.39deg,#ffffff -278.56%,#6d6d6d -78.47%,#11101d 91.61%);
  }

  .blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
  }
}